* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  padding-bottom: 50px;
}

header {
  position: relative;
}

nav {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding-left: 30px;
}

h1 {
  display: inline;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 5px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #df6951;
}

header p {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  color: white;
  font-size: 58px;
  font-weight: bold;
  text-align: center;
}

.rezumat {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.rezumat .continut {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 100px;
}

.rezumat .continut .text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.rezumat .continut .text p:first-child {
  color: #df6951;
}

.rezumat .continut .text p:last-child {
  max-width: 456px;
}

.rezumat .continut .text h2 {
  color: #181e4b;
}

.oferte {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.oferte .continut .first,
.oferte .continut h2 {
  text-align: center;
}

.oferte .continut .first {
  color: #df6951;
}

.oferte .continut h2 {
  margin: 20px 0;
  color: #181e4b;
}

.galerie {
  max-width: 1129px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.galerie div:nth-child(4),
.galerie div:nth-child(5),
.galerie div:nth-child(7),
.galerie div:nth-child(8),
.galerie div:nth-child(10),
.galerie div:nth-child(11) {
  margin-top: -421px;
}

.locatie {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.denumire-pret {
  display: flex;
  justify-content: space-between;
}

.recenzie {
  max-width: 639px;
  margin: 200px auto 0;
}

.recenzie div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navigare-recenzie .cerc {
  width: 62px;
  height: 62px;
  background-color: #737373;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.recenzie div p:first-child {
  color: #df6951;
  font-weight: bold;
  font-size: 18px;
}

.recenzie div h2:nth-child(2) {
  color: #181e4b;
  font-weight: bold;
  font-size: 50px;
  max-width: 639px;
}

.recenzie div img:nth-child(3) {
  margin-top: 20px;
}

.recenzie div p:nth-child(4) {
  margin-top: -10px;
  width: 376px;
}

.recenzie div p:nth-child(5) {
  font-weight: bold;
  margin-top: 10px;
}

.recenzie div div:nth-child(6) {
  position: relative;
  top: -120px;
  align-self: flex-start;
}

.recenzie div div:nth-child(7) {
  position: relative;
  top: -182px;
  align-self: flex-end;
}

/*Footer*/

footer {
  margin: 76px auto 0;
}

footer .continut {
  display: flex;
  justify-content: space-around;
}

footer h1 {
  font-size: 32px;
  color: #181e4b;
}

footer h2 {
  color: #181433;
}

.slogan {
  color: #757095;
  display: flex;
  align-items: center;
}

.link-uri h2 {
  color: #181433;
}

.link-uri ul {
  padding: 0;
}

.link-uri li {
  display: block;
  margin-top: 10px;
  padding: 0;
}

.link-uri li a {
  text-decoration: none;
  color: #181433;
}

.link-uri li a:hover {
  color: #df6951;
}

hr {
  margin-top: 30px;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  color: #181433;
}
